@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'GintoNord';
  src: local('ABCGintoDiscordNord'),
    url('./assets/fonts/ABCGintoDiscordNord-Bold.woff') format('woff'),
    url('./assets/fonts/ABCGintoDiscordNord-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ginto';
  src: local('ABCGintoDiscord'),
    url('./assets/fonts/ABCGintoDiscord-Regular.woff') format('woff'),
    url('./assets/fonts/ABCGintoDiscord-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ginto';
  src: local('ABCGintoDiscord'),
    url('./assets/fonts/ABCGintoDiscord-Medium.woff') format('woff'),
    url('./assets/fonts/ABCGintoDiscord-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ginto';
  src: local('ABCGintoDiscord'),
    url('./assets/fonts/ABCGintoDiscord-MediumItalic.woff') format('woff'),
    url('./assets/fonts/ABCGintoDiscord-MediumItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-font: 'GintoNord';
  --secondary-font: 'Ginto';

  --white: #ffffff;
  --black: #0e0e0e;

  --gray-50: #e8e8e8;
  --gray-100: #b8b8b8;
  --gray-200: #969696;
  --gray-300: #666666;
  --gray-400: #484848;
  --gray-500: #1a1a1a;
  --gray-600: #181818;
  --gray-700: #121212;
  --gray-800: #0e0e0e;
  --gray-900: #0b0b0b;

  --orange-50: #ffeee9;
  --orange-100: #ffc9ba;
  --orange-200: #ffaf98;
  --orange-300: #ff8b6a;
  --orange-400: #ff754d;
  --orange-500: #ff5220;
  --orange-600: #e84b1d;
  --orange-700: #b53a17;
  --orange-800: #8c2d12;
  --orange-900: #6b220d;

  --green-500: #2fe487;
  --red-500: #e42f2f;

  --safe-area: 80rem;
}

* {
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  background-color: var(--gray-900);
  font-family: var(--secondary-font);
  color: var(--gray-50);
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}

:focus {
  outline: none;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left 80s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 150s linear infinite;
}

::-webkit-scrollbar {
  width: 0.3rem;
  background-color: var(--gray-700);
  scrollbar-width: thin;
  scrollbar-color: var(--orange-500) var(--gray-700);
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
}